/* Modal.css */
.overlay {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    background-color: white;
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    max-width: 32rem; /* Max width */
    width: 100%; /* Full width */
    padding: 1.5rem; /* Padding */
  }
  